<h1>Список студентов</h1>

<%= render 'form' %>

<% if students.any? %>
  <table class='tablesorter'>
    <thead>
      <tr>
        <th>№</th>
        <th>ID</th>
        <% if params['search']['include_aspirants'] != '1' %>
          <th>Person ID</th>
          <th>Prev Person ID</th>
        <% end %>
        <th>Фамилия, имя, отчество</th>
        <th>Дата рождения</th>
        <th>Группа</th>
        <th>Курс</th>
        <th>Кафедра</th>
        <th>Факультет</th>
        <th>Специальность</th>
        <% if params['search']['include_aspirants'] != '1' %>
          <th>В ГПО</th>
        <% end %>
        <th>Учится</th>
        <th>Бюджет/ПВЗ</th>
      </tr>
    </thead>
    <tbody>
    <% students.each_with_index do |student, index| %>
      <% if params['search']['include_aspirants'] == '1' %>
        <%= render partial: 'aspirant', locals: { index: index, student: student } %>
      <% else %>
        <%= render partial: 'student', locals: { index: index, student: student } %>
      <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>

