app:
  secret: SOME_HUGE_STRING

contingent:
  wsdl: "http://contingent.url/endpoint?wsdl"
  auth:
    login:    login
    password: password

deploy:
  application: appname.ru
  domain:      user@host
  port:        port
